<!DOCTYPE html>
<html lang="zh">
<head>{include file="/common/header" title="部门列表" /}</head>
<body class="gray-bg">
<div class="container-div"><div class="row">
<div class="col-sm-12 search-collapse">
<form id="dept-form"><div class="select-list"><ul>
<li>部门名称：<input type="text" name="deptName"/></li>
<li>状态：<select name="status"><option value="">所有</option><option value="0">正常</option><option value="1">停用</option></select></li>
<li><a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a></li>
</ul></div></form>
</div>
<div class="btn-group-sm" id="toolbar"><a class="btn btn-success" onclick="$.operate.add(0)"><i class="fa fa-plus"></i> 新增</a></div>
<div class="col-sm-12 select-table table-striped"><table id="bootstrap-tree-table"></table></div>
</div></div>
{include file="/common/footer" /}
<script>
var prefix = ctx + "system/dept";
$(function(){
  $.treeTable.init({
    id: "bootstrap-tree-table",
    code:"deptId", parentCode:"parentId", uniqueId:"deptId",
    expandColumn: 0,
    url: prefix+"/list", createUrl: prefix+"/add/{id}", updateUrl: prefix+"/edit/{id}", removeUrl: prefix+"/remove/{id}",
    modalName: "部门",
    columns: [
      {field:"deptName", title:"部门名称", align:"left"},
      {field:"orderNum", title:"排序"},
      {field:"status", title:"状态", formatter:function(v){return v=="0"?"正常":"停用";}},
      {field:"createTime", title:"创建时间"},
      {title:"操作", formatter:function(v,row){
        return '<a class="btn btn-success btn-xs" onclick="$.operate.edit(\''+row.deptId+'\')"><i class="fa fa-edit"></i></a> '+
               '<a class="btn btn-info btn-xs" onclick="$.operate.add(\''+row.deptId+'\')"><i class="fa fa-plus"></i></a> '+
               '<a class="btn btn-danger btn-xs" onclick="$.operate.remove(\''+row.deptId+'\')"><i class="fa fa-remove"></i></a>';
      }}
    ]
  });
});
</script>
</body></html>
