<script> var ctx = '/'; </script>
<a id="scroll-up" href="javascript:;" class="btn btn-sm display"><i class="fa fa-angle-double-up"></i></a>
<script src="/js/jquery.min.js?v=3.7.1"></script>
<script src="/js/bootstrap.min.js?v=3.4.1"></script>
<script src="/ajax/libs/bootstrap-table/bootstrap-table.min.js?v=1.24.1"></script>
<script src="/ajax/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=1.24.1"></script>
<script src="/ajax/libs/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js?v=1.24.1"></script>
<script src="/ajax/libs/validate/jquery.validate.min.js?v=1.21.0"></script>
<script src="/ajax/libs/validate/jquery.validate.extend.js?v=1.21.0"></script>
<script src="/ajax/libs/validate/messages_zh.js?v=1.21.0"></script>
<script src="/ajax/libs/bootstrap-table/extensions/tree/bootstrap-table-tree.min.js?v=1.24.1"></script>
<script src="/ajax/libs/blockUI/jquery.blockUI.js?v=2.70.0"></script>
<script src="/ajax/libs/iCheck/icheck.min.js?v=1.0.3"></script>
<script src="/ajax/libs/layer/layer.min.js?v=3.7.0"></script>
<script src="/ajax/libs/layui/layui.min.js?v=2.8.18"></script>
<script src="/ruoyi/js/common.js?v=1.0.0"></script>
<script src="/ruoyi/js/ry-ui.js?v=1.0.0"></script>
