<!DOCTYPE html>
<html lang="zh">
<head>{include file="/common/header" title="修改岗位" /}</head>
<body class="white-bg">
<div class="wrapper wrapper-content">
<form class="form-horizontal m" id="form-post-edit">
  <input name="postId" type="hidden" value="{$post.postId}">
  <div class="form-group"><label class="col-sm-3 control-label is-required">岗位名称：</label><div class="col-sm-8"><input name="postName" class="form-control" value="{$post.postName}" required></div></div>
  <div class="form-group"><label class="col-sm-3 control-label is-required">岗位编码：</label><div class="col-sm-8"><input name="postCode" class="form-control" value="{$post.postCode}" required></div></div>
  <div class="form-group"><label class="col-sm-3 control-label is-required">显示顺序：</label><div class="col-sm-8"><input name="postSort" type="number" class="form-control" value="{$post.postSort}" required></div></div>
  <div class="form-group"><label class="col-sm-3 control-label">状态：</label><div class="col-sm-8"><label class="radio-box"><input type="radio" name="status" value="0" {if $post.status=='0'}checked{/if}>正常</label><label class="radio-box"><input type="radio" name="status" value="1" {if $post.status=='1'}checked{/if}>停用</label></div></div>
  <div class="form-group"><label class="col-sm-3 control-label">备注：</label><div class="col-sm-8"><textarea name="remark" class="form-control">{$post.remark}</textarea></div></div>
</form>
</div>
{include file="/common/footer" /}
<script>function submitHandler(){ if($.validate.form()){ $.operate.save(ctx+"system/post/edit", $("#form-post-edit").serialize()); } }</script>
</body></html>