<!DOCTYPE html>
<html lang="zh">
<head>{include file="/common/header" title="岗位" /}</head>
<body class="gray-bg">
<div class="container-div"><div class="row">
<div class="col-sm-12 search-collapse">
<form id="formId"><div class="select-list"><ul>
<li>岗位编码：<input type="text" name="postCode"/></li><li>岗位名称：<input type="text" name="postName"/></li><li>状态：<select name="status"><option value="">所有</option><option value="0">正常</option><option value="1">停用</option></select></li>
<li><a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a></li>
</ul></div></form>
</div>
<div class="btn-group-sm" id="toolbar" role="group">
<a class="btn btn-success" onclick="$.operate.add()"><i class="fa fa-plus"></i> 新增</a>
<a class="btn btn-primary single disabled" onclick="$.operate.edit()"><i class="fa fa-edit"></i> 修改</a>
<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"><i class="fa fa-remove"></i> 删除</a>
</div>
<div class="col-sm-12 select-table table-striped"><table id="bootstrap-table"></table></div>
</div></div>
{include file="/common/footer" /}
<script>
var prefix = ctx + "system/post";
$(function(){
  $.table.init({
    url: prefix + "/list",
    createUrl: prefix + "/add",
    updateUrl: prefix + "/edit/{id}",
    removeUrl: prefix + "/remove",
    modalName: "岗位",
    columns: [
      {checkbox:true},
      {field:"postId", title:"岗位编号"},
      {field:"postCode", title:"岗位编码"},
      {field:"postName", title:"岗位名称"},
      {field:"postSort", title:"排序"},
      {field:"status", title:"状态", formatter:function(v){return v=="0"?"正常":"停用";}},
      {field:"createTime", title:"创建时间"},
      {title:"操作", align:"center", formatter:function(v,row){
        return '<a class="btn btn-success btn-xs" onclick="$.operate.edit(\''+row.postId+'\')"><i class="fa fa-edit"></i>编辑</a> '+
               '<a class="btn btn-danger btn-xs" onclick="$.operate.remove(\''+row.postId+'\')"><i class="fa fa-remove"></i>删除</a>';
      }}
    ]
  });
});

</script>
</body></html>