<!DOCTYPE html>
<html lang="zh">
<head>{include file="/common/header" title="插件菜单" /}</head>
<body class="gray-bg">
<div class="container-div"><div class="row">
<div class="col-sm-12 search-collapse">
<form id="formId"><div class="select-list"><ul>
<li>选择插件：<select name="name" id="addonName">
{volist name="addons" id="a"}
<option value="{$a.name}">{$a.title|default=$a.name} ({$a.name})</option>
{/volist}
</select></li>
<li><a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
<a class="btn btn-success btn-rounded btn-sm" onclick="syncMenu()"><i class="fa fa-refresh"></i>&nbsp;同步菜单</a></li>
</ul></div></form>
</div>
<div class="col-sm-12 select-table table-striped"><table id="bootstrap-table"></table></div>
</div></div>
{include file="/common/footer" /}
<script>
var prefix = ctx + "addondev/menu";
$(function(){
  $.table.init({
    url: prefix + "/list",
    modalName: "插件菜单",
    columns: [
      {field:"menuId", title:"ID"},
      {field:"menuName", title:"名称"},
      {field:"menuType", title:"Type"},
      {field:"perms", title:"perms"},
      {field:"url", title:"URL"},
      {field:"visible", title:"状态"}
    ]
  });
});
function syncMenu(){
  var name = $("#addonName").val();
  $.modal.confirm("同步菜单?", function(){
    $.operate.submit(prefix + "/sync/" + name, "post", "json", {});
  });
}
</script>
</body></html>