<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>意象介绍</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/style.min.css" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <h2>YshopAdmin / 意象后台管理框架</h2>
            <p>ThinkPHP8+php8版本。可用于网站管理后台、CMS、CRM、OA 等场景。</p>
            <p><b>当前版本：</b><span>v{$version|default='1.0.0-php'}</span></p>
            <p><span class="label label-warning">免费开源</span></p>
            <p>
                <a class="btn btn-success btn-outline" href="https://gitee.com/guchengwuyue/YshopAdmin" target="_blank"><i class="fa fa-cloud"></i> 访问码云</a>
                <a class="btn btn-white btn-bitbucket" href="https://www.yixiang.co" target="_blank"><i class="fa fa-home"></i> 访问主页</a>
            </p>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title"><h5>技术选型</h5></div>
                    <div class="ibox-content">
                        <ol>
                            <li>核心框架：ThinkPHP 8</li>
                            <li>模板引擎：think-view</li>
                            <li>数据库：MySQL + think-orm</li>
                            <li>前端：Bootstrap + jQuery</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title"><h5>默认账号</h5></div>
                    <div class="ibox-content">
                        <p>账号：admin</p>
                        <p>密码：admin123</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title"><h5>联系信息</h5></div>
                    <div class="ibox-content">
                        <p>官网：<a href="https://www.yixiang.co" target="_blank">https://www.yixiang.co</a></p>
                    </div>
                    <div class="ibox-content">
                        <p>文档：<a href="https://cms.yixiang.co/doc" target="_blank">https://cms.yixiang.co/doc</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
